---
import { getCollection } from "astro:content";
import { SITE } from "@config";
import { Lang } from "@util/Languages";
import DefaultLayout from "src/layouts/Default.astro";
import TimelineEvent from "@components/TimelineEvent.astro";

export async function getStaticPaths() {
    const allEvents = await getCollection("events");
    const years = [...new Set(allEvents.map((event) => event.data.startDate.getFullYear()))];

    return years.map((year) => ({
        params: { year: year.toString() },
        props: { year },
    }));
}

const { year } = Astro.props;
const lang = SITE.default.lang;
const _ = Lang(lang);

const events = await getCollection("events", ({ data }) => {
    return data.startDate.getFullYear() === year;
});

const sortedEvents = events.sort((a, b) => b.data.startDate.getTime() - a.data.startDate.getTime());

const frontmatter = {
    title: `Events in ${year}`,
    description: `An archive of events from ${year}.`,
};

const breadcrumbs = [
    {
        url: "/events/",
        title: "Events",
    },
    {
        url: `/events/${year}/`,
        title: year.toString(),
        ariaCurrent: "page",
    },
];
---

<DefaultLayout frontmatter={frontmatter as any} headings={[]} breadcrumbs={breadcrumbs}>
    <p>This page captures events from {year}. You can view <a href="/events/">the current event list here</a>.</p>

    <h2>{year}</h2>
    <div class="timeline" data-timeline>
        {
            sortedEvents.map((event) => (
                <TimelineEvent
                    date={event.data.startDate as any}
                    endDate={event.data.endDate as any}
                    title={event.data.title}
                    location={event.data.location}
                    description={event.data.description}
                    linkHref={event.data.linkHref}
                    linkText={event.data.linkText}
                    detailsHref={"/events/" + event.id + "/"}
                />
            ))
        }
    </div>
</DefaultLayout>

<style is:global>
    /* Events timeline (copied from themes/accelerator/layouts/Events.astro) */
    .timeline {
        --timeline-gap: 1rem;
        position: relative;
    }

    .timeline h2,
    .timeline h3 {
        margin: 0 0 0.5rem 0;
        font-size: var(--font-size-h4);
    }

    .timeline::before {
        background-color: var(--icon-block);
        bottom: 0;
        content: "";
        left: var(--timeline-gap);
        position: absolute;
        top: calc((var(--block-gap) + 1px) * -1);
        width: 0.4rem;
    }
</style>
